# Intro to Pandas Exercise

**First, let's import Pandas**

In [1]:
import pandas as pd

In [4]:
df = pd.read_csv("diamonds.csv")

#### Display the first 7 and last 9 rows

In [5]:
# Add your code here
df.head(7)

   carat        cut color clarity  depth  table  price     x     y     z
0   0.23      Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1   0.21    Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2   0.23       Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3   0.29    Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4   0.31       Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75
5   0.24  Very Good     J    VVS2   62.8   57.0    336  3.94  3.96  2.48
6   0.24  Very Good     I    VVS1   62.3   57.0    336  3.95  3.98  2.47

In [6]:
df.tail(9)

       carat        cut color clarity  depth  table  price     x     y     z
53931   0.71    Premium     F     SI1   59.8   62.0   2756  5.74  5.73  3.43
53932   0.70  Very Good     E     VS2   60.5   59.0   2757  5.71  5.76  3.47
53933   0.70  Very Good     E     VS2   61.2   59.0   2757  5.69  5.72  3.49
53934   0.72    Premium     D     SI1   62.7   59.0   2757  5.69  5.73  3.58
53935   0.72      Ideal     D     SI1   60.8   57.0   2757  5.75  5.76  3.50
53936   0.72       Good     D     SI1   63.1   55.0   2757  5.69  5.75  3.61
53937   0.70  Very Good     D     SI1   62.8   60.0   2757  5.66  5.68  3.56
53938   0.86    Premium     H     SI2   61.0   58.0   2757  6.15  6.12  3.74
53939   0.75      Ideal     D     SI2   62.2   55.0   2757  5.83  5.87  3.64

#### Display random sample from the DataFrame

In [7]:
# Add your code here
df.sample()

       carat        cut color clarity  depth  table  price     x     y     z
20512   1.41  Very Good     H     VS2   62.5   58.0   8846  7.08  7.12  4.44

#### Display a summary of the dataset, a summary statistics and number of rows and columns

In [8]:
# Add your code here
df.describe()

,carat,depth,table,price,x,y,z
count,53940.000000,53940.000000,53940.000000,53940.000000,53940.000000,53940.000000,53940.000000
mean,0.797940,61.749405,57.457184,3932.799722,5.731157,5.734526,3.538734
std,0.474011,1.432621,2.234491,3989.439738,1.121761,1.142135,0.705699
min,0.200000,43.000000,43.000000,326.000000,0.000000,0.000000,0.000000
25%,0.400000,61.000000,56.000000,950.000000,4.710000,4.720000,2.910000
50%,0.700000,61.800000,57.000000,2401.000000,5.700000,5.710000,3.530000
75%,1.040000,62.500000,59.000000,5324.250000,6.540000,6.540000,4.040000
max,5.010000,79.000000,95.000000,18823.000000,10.740000,58.900000,31.800000

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53940 entries, 0 to 53939
Data columns (total 10 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   carat    53940 non-null  float64
 1   cut      53940 non-null  object
 2   color    53940 non-null  object
 3   clarity  53940 non-null  object
 4   depth    53940 non-null  float64
 5   table    53940 non-null  float64
 6   price    53940 non-null  int64
 7   x        53940 non-null  float64
 8   y        53940 non-null  float64
 9   z        53940 non-null  float64
dtypes: float64(6), int64(1), object(3)
memory usage: 4.1+ MB

#### Extract the `price` columns as a **Series**

In [13]:
# Add your code here
df.price

0         326
1         326
2         327
3         334
4         335
         ...
53935    2757
53936    2757
53937    2757
53938    2757
53939    2757
Name: price, Length: 53940, dtype: int64

#### Create a new DataFrame with only `carat`, `cut`, and `price` columns

In [16]:
# Add your code here
new_df = df[['carat', 'cut', 'price']]
new_df

       carat        cut  price
0       0.23      Ideal    326
1       0.21    Premium    326
2       0.23       Good    327
3       0.29    Premium    334
4       0.31       Good    335
...      ...        ...    ...
53935   0.72      Ideal   2757
53936   0.72       Good   2757
53937   0.70  Very Good   2757
53938   0.86    Premium   2757
53939   0.75      Ideal   2757

[53940 rows x 3 columns]

#### Check each column data type and the DataFrame index

In [18]:
# Add your code here
df.dtypes

carat      float64
cut         object
color       object
clarity     object
depth      float64
table      float64
price        int64
x          float64
y          float64
z          float64
dtype: object

In [19]:
df.index

RangeIndex(start=0, stop=53940, step=1)

#### Use `iloc` to select the first 4 rows and the first 3 columns

In [21]:
# Add your code here
df.iloc[0:4,0:3]

   carat      cut color
0   0.23    Ideal     E
1   0.21  Premium     E
2   0.23     Good     E
3   0.29  Premium     I

#### Use `loc` to select the rows where `carat` is greater than 0.3 and display the `carat`, `cut`, and `price` columns

In [25]:
# Add your code here
df.loc[df['carat']>3, ['carat','cut','price'] ]

       carat        cut  price
19339   3.01    Premium   8040
21758   3.11       Fair   9823
21862   3.01    Premium   9925
22428   3.05    Premium  10453
22540   3.02       Fair  10577
22741   3.01       Fair  10761
23644   3.65       Fair  11668
24131   3.24    Premium  12300
24297   3.22      Ideal  12545
24328   3.50      Ideal  12587
25460   3.01    Premium  14220
25998   4.01    Premium  15223
25999   4.01    Premium  15223
26100   3.04  Very Good  15354
26431   3.40       Fair  15964
26444   4.00  Very Good  15984
26467   3.01      Ideal  16037
26534   3.67    Premium  16193
26744   3.01      Ideal  16538
27130   4.13       Fair  17329
27415   5.01       Fair  18018
27514   3.01    Premium  18242
27515   3.01       Fair  18242
27516   3.01       Fair  18242
27517   3.01       Good  18242
27518   3.01       Good  18242
27630   4.50       Fair  18531
27638   3.04    Premium  18559
27649   3.01       Good  18593
27679   3.51    Premium  18701
27684   3.01    Premium  18710
27685   3.01    Premium  18710

#### Create a copy of the DataFrame and add a new column `expensive` which is `True` if price is greater than 1000, otherwise `False`

In [26]:
# Add your code here
expensive_df = df.copy()
expensive_df['expensive'] = expensive_df['price'] > 1000
expensive_df

,carat,cut,color,clarity,depth,table,price,x,y,z,expensive
0,0.23,Ideal,E,SI2,61.5,55.0,326,3.95,3.98,2.43,False
1,0.21,Premium,E,SI1,59.8,61.0,326,3.89,3.84,2.31,False
2,0.23,Good,E,VS1,56.9,65.0,327,4.05,4.07,2.31,False
3,0.29,Premium,I,VS2,62.4,58.0,334,4.20,4.23,2.63,False
4,0.31,Good,J,SI2,63.3,58.0,335,4.34,4.35,2.75,False
...,...,...,...,...,...,...,...,...,...,...,...
53935,0.72,Ideal,D,SI1,60.8,57.0,2757,5.75,5.76,3.50,True
53936,0.72,Good,D,SI1,63.1,55.0,2757,5.69,5.75,3.61,True
53937,0.70,Very Good,D,SI1,62.8,60.0,2757,5.66,5.68,3.56,True
53938,0.86,Premium,H,SI2,61.0,58.0,2757,6.15,6.12,3.74,True
53939,0.75,Ideal,D,SI2,62.2,55.0,2757,5.83,5.87,3.64,True

#### Sort the DataFrame by the `price` column in ascending order, and `carat` in descending order

In [28]:
# Add your code here
sort_df = df.sort_values(['price', 'carat'], ascending=[True, False])
sort_df

       carat        cut color clarity  depth  table  price     x     y     z
0       0.23      Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1       0.21    Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2       0.23       Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3       0.29    Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4       0.31       Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75
...      ...        ...   ...     ...    ...    ...    ...   ...   ...   ...
27745   2.00  Very Good     H     SI1   62.8   57.0  18803  7.95  8.00  5.01
27746   2.07      Ideal     G     SI2   62.5   55.0  18804  8.20  8.13  5.11
27747   1.51      Ideal     G      IF   61.7   55.0  18806  7.37  7.41  4.56
27748   2.00  Very Good     G     SI1   63.5   56.0  18818  7.90  7.97  5.04
27749   2.29    Premium     I     VS2   60.8   60.0  18823  8.50  8.47  5.16

[53940 rows x 10 columns]

#### Display descriptive statistics for non-numeric columns

In [ ]:
# Add your code here
df.describe(include='O')

          cut  color clarity
count   53940  53940   53940
unique      5      7       8
top     Ideal      G     SI1
freq    21551  11292   13065

#### Select the first 10 rows and the columns `carat`, `cut`, and `price` using `iloc`

In [38]:
# Add your code here
df.iloc[0:10, 0:2].join(df.iloc[0:9, 6:7])

   carat        cut  price
0   0.23      Ideal  326.0
1   0.21    Premium  326.0
2   0.23       Good  327.0
3   0.29    Premium  334.0
4   0.31       Good  335.0
5   0.24  Very Good  336.0
6   0.24  Very Good  336.0
7   0.26  Very Good  337.0
8   0.22       Fair  337.0
9   0.23  Very Good    NaN

#### Use `loc` to filter the DataFrame for diamonds that have a `carat` greater than 0.5 and a `price` less than 1500. Display the `carat`, `price`, and `cut` columns

In [43]:
# Add your code here
df.loc[((df['carat'] > 0.5) & (df['price'] < 1500)), ['carat', 'price', 'cut']]

       carat  price      cut
32833   0.60    806  Premium
33301   0.51    826  Premium
33664   0.60    835  Premium
33837   0.53    844    Ideal
34255   0.53    856    Ideal
...      ...    ...      ...
43884   0.54   1453    Ideal
43885   0.54   1453    Ideal
43886   0.54   1453    Ideal
43888   0.52   1454    Ideal
43889   0.54   1454    Ideal

[1842 rows x 3 columns]

#### Replace all instances of '`Good`' in the `cut` column with '`Average`'

In [46]:
# Add your code here
df['cut'].replace('Good', 'Average')
df['cut']

0            Ideal
1          Premium
2          Average
3          Premium
4          Average
           ...
53935        Ideal
53936      Average
53937    Very Good
53938      Premium
53939        Ideal
Name: cut, Length: 53940, dtype: object

#### Group the DataFrame by the `cut` column and calculate the average `price` for each group

In [50]:
# Add your code here
df.groupby('cut')['price'].mean()

cut
Average      3928.864452
Fair         4358.757764
Ideal        3457.541970
Premium      4584.257704
Very Good    3981.759891
Name: price, dtype: float64

#### Rename the columns `x`, `y`, and `z` to `length`, `width`, and `height`, respectively

In [52]:
# Add your code here
df.rename(columns={'x': 'length', 'y': 'width', 'z': 'height'}, inplace=True)
df

,carat,cut,color,clarity,depth,table,price,length,width,height
0,0.23,Ideal,E,SI2,61.5,55.0,326,3.95,3.98,2.43
1,0.21,Premium,E,SI1,59.8,61.0,326,3.89,3.84,2.31
2,0.23,Average,E,VS1,56.9,65.0,327,4.05,4.07,2.31
3,0.29,Premium,I,VS2,62.4,58.0,334,4.20,4.23,2.63
4,0.31,Average,J,SI2,63.3,58.0,335,4.34,4.35,2.75
...,...,...,...,...,...,...,...,...,...,...
53935,0.72,Ideal,D,SI1,60.8,57.0,2757,5.75,5.76,3.50
53936,0.72,Average,D,SI1,63.1,55.0,2757,5.69,5.75,3.61
53937,0.70,Very Good,D,SI1,62.8,60.0,2757,5.66,5.68,3.56
53938,0.86,Premium,H,SI2,61.0,58.0,2757,6.15,6.12,3.74
53939,0.75,Ideal,D,SI2,62.2,55.0,2757,5.83,5.87,3.64