## Python Exercises I
- Complete the following exercises

### ☑️ Variable assignment and data types

Assign some **values** of different **types** to some **variables**

In [70]:
country = "United Kingdom"
capital = "London"
language = "English"
currency = "Pound Stirling"
population = 68300000
area = 244376
phone_code = '+44'
royal_family = 'Windsor'

Check each one of the variables data types

In [71]:
# Add your code here
print(f'''
variable country: {country} / datatype: {type(country)}
variable capital: {capital} / datatype: {type(capital)}
variable language: {language} / datatype: {type(language)}
variable currency: {currency} / datatype: {type(currency)}
variable population: {population} / datatype: {type(population)}
variable area: {area} / datatype: {type(area)}
variable phone_code: {phone_code} / datatype: {type(phone_code)}
variable royal_family: {royal_family} / datatype: {type(royal_family)}
''')

variable country: United Kingdom / datatype: <class 'str'>
variable capital: London / datatype: <class 'str'>
variable language: English / datatype: <class 'str'>
variable currency: Pound Stirling / datatype: <class 'str'>
variable population: 68300000 / datatype: <class 'int'>
variable area: 244376 / datatype: <class 'int'>
variable phone_code: +44 / datatype: <class 'str'>
variable royal_family: Windsor / datatype: <class 'str'>

Create two variables with your name and surname, then concatenate then to read `Hello (name) (surname), hope you are having a lovely day`. Use two concatenation methods

In [72]:
# Add your code here
name = 'firstname'
surname = 'familyname'
print(f'Hello {name} {surname}, hope you are having a lovely day')

Hello firstname familyname, hope you are having a lovely day

Create two variables with both boolean values, then print both variables and their data types

In [73]:
# Add your code here
falsey = False
not_not_true = True
print(f'''
variable falsey is {falsey} / type is {type(falsey)}
variable not_not_true is {not_not_true} / type is {type(not_not_true)}
''')

variable falsey is False / type is <class 'bool'>
variable not_not_true is True / type is <class 'bool'>

Create a variable called `text` and assign it the string "Python is fun!". Use string indexing to assign the first word "Python" to a new variable called `first_word`. Print `first_word`

In [74]:
# Add your code here
text = 'Python is fun!'
first_word = text.split(' ',1)[0]
first_word

'Python'

Create a variable called `is_raining` and assign the value "False" as a string (not a boolean). Use the `bool()` function to convert it to a boolean and assign it to a new variable called `is_raining_bool`. Print both variables

In [75]:
# Add your code here
is_raining = "False"
is_raining_bool = bool(is_raining)
print(f'It is raining: {is_raining} and it continues is_raining_bool: {is_raining_bool}')

It is raining: False and it continues is_raining_bool: True

Assign the integer 100 to a variable called `number` and the string "100" to a variable called `number_str`. Use the `int()` function to convert `number_str` to an integer and check if both `number` and `number_str` are equal

In [76]:
# Add your code here
number = 100
number_str = "100"
number == int(number_str)

True

Create a variable called `x` and assign the value 15. Create a second variable `y` and assign it the value of x. Change the value of `x` to 20. Print both `x` and `y`

In [77]:
# Add your code here
x = 15
y = x
x = 20
print(f'The value of x = {x}, the value of y = {y}')

The value of x = 20, the value of y = 15

Create a variable called `sentence` and assign the value "Learning Python is fun!". Use the `len()` function to find the length of the string and store it in a variable called `sentence_length`. Print both variables

In [78]:
# Add your code here
print(f'''
        text = {text}
        text length = {len(text)}
      ''')

        text = Python is fun!
        text length = 14

Create a variable called `pi` and assign the value 3.14159. Convert this value to a string and assign it to a new variable `pi_str`. Concatenate "The value of pi is " with `pi_str` and print the result

In [79]:
# Add your code here
pi = 3.14159
pi_str = str(pi)
print(f'The value of pi is {pi_str}')

The value of pi is 3.14159

Create a variable called `number` and assign the value 1000. Use the `str()` function to convert it into a string and store it in a variable called `number_str`. Use string slicing to get the first two characters of `number_str` and print the result

In [80]:
# Add your code here
number = 1000
number_str = str(number)
print(f'{number_str[0]} and {number_str[1]}')

1 and 0

### ☑️ Basic arithmetic and operators

Assign the result of `population` / `area` calculation to a new variable called `density`:

In [81]:
# Add your code here
density = population / area
print(f'The density of the UK is {density}')

The density of the UK is 279.4873473663535

Convert 28 degrees celsius to degrees in fahrenheit, save both degrees in different variables

To convert Celsius to Fahrenheit, multiply the Celsius temperature by 1.8 and then add 32. For example, to convert 25°C to Fahrenheit: (25 × 1.8) + 32 = 77°F.

In [82]:
# Your code here
temp_celcius = 28
temp_fahrenheit = temp_celcius * 1.8 + 32

print(f'{temp_celcius}°C is {temp_fahrenheit}°F')

28°C is 82.4°F

Create to variables `a = 57` and `b = x`, they should have a sum of 124

In [83]:
# Your code here
a = 57
b = x
a + b

77

Create four variables to store the values of addition, subtraction, multiplication and division between `a` and `b`, and print the results

In [84]:
a = 9
b = 7

# Add your code here
ab_add = a+b
ab_sub = a-b
ab_mul = a*b
ab_div = a/b

print(f'''
a has the value {a} / b has the valie {b}
a + b = {ab_add}
a - b = {ab_sub}
a * b = {ab_mul}
a / b = {ab_div}
''')

a has the value 9 / b has the valie 7
a + b = 16
a - b = 2
a * b = 63
a / b = 1.2857142857142858

### ☑️ Data structure (lists, dictionaries, sets, tuples)

Create a list with 10 cities, then use indexing to select the first 4 cities and assign it to a new variable

In [85]:
# Add your code here
cities = ['London', 
          'Manchester', 
          'Leicester', 
          'Blackpool',
          'Birmingham',
          'Edinbrough',
          'Glasgow',
          'Cardiff',
          'Ipswich',
          'Dublin'
          ]
city_list = cities[0:4]
print(city_list)

['London', 'Manchester', 'Leicester', 'Blackpool']

Create a list with 6 different car brands. Use slicing to replace the first two brands with 'Tesla' and 'Ford'

In [86]:
# Add your code here
car_brands = ['Toyota',
              'Mazda',
              'Audi',
              'BMW',
              'MG',
              'BYD'
              ]

car_brands[0:2] = ['Tesla', 'Ford']
car_brands

['Tesla', 'Ford', 'Audi', 'BMW', 'MG', 'BYD']

Create a list with 7 different countries. Reverse the order of the list and assign it to a new variable

In [87]:
# Add your code here
countries = ['Greece',
             'Italy',
             'The Nederlands',
             'Sweden',
             'Brazil',
             'China',
             'Australia']

seirtnuoc = countries[::-1]
seirtnuoc

['Australia', 'China', 'Brazil', 'Sweden', 'The Nederlands', 'Italy', 'Greece']

Create a list of 5 numbers. Add two more numbers to the list and remove the third one

In [88]:
# Add your code here
nummer_list = [1, 3, 5, 10, 50]
nummer_list.extend((150, 321))
del nummer_list[2]
nummer_list

[1, 3, 10, 50, 150, 321]

Create a list with integers and floats, it should have duplicate number. Then convert it to a set to remove the duplicates and back to a list again

In [89]:
# Add your code here
int_float_list = [1, 1, 3, 5.0, 5.0, 9, 7, 100.15, 100]
int_float_list = set(int_float_list)
int_float_list = list(int_float_list)
int_float_list

[1, 3, 100.15, 5.0, 100, 7, 9]

Create a dictionary with 5 country-capital pairs. Retrieve the capital of the 3rd country in the dictionary

In [90]:
# Add your code here
country_cap_dict = {'Greece': 'Athens',
                    'United States of America': 'Washington DC',
                    'France': 'Paris',
                    'Japan': 'Tokyo',
                    'Thailand': 'Bangkok'}

for key, value in country_cap_dict.items():
  if key == list(country_cap_dict)[2]:
    print(f'The capital of {key} is {value}')

The capital of France is Paris

Create a dictionary with 3 animal names as keys and their lifespans as values. Add 2 more animals and its lifespan to the dictionary

In [91]:
# Add your code here
animals = {'Deer (Whitetail)':23,
           'Dog (Domestic)':20,
           'Donkey':50,
}
animals.update({'Dove':12,'Eagle (Golden)':80})
animals

{'Deer (Whitetail)': 23,
 'Dog (Domestic)': 20,
 'Donkey': 50,
 'Dove': 12,
 'Eagle (Golden)': 80}

Create a dictionary that stores 4 people's names as keys and their favorite colors as values. Change the favorite color of one person

In [92]:
# Add your code here
people_dict = {'Stannis': 'red',
               'Ned': 'yellow',
               'Khal': 'green',
               'Margery': 'blue'}
people_dict.update({'Khal': 'orange'})
people_dict

{'Stannis': 'red', 'Ned': 'yellow', 'Khal': 'orange', 'Margery': 'blue'}

Create a dictionary called `car` with brand, model, and year as keys, and assign values to those keys. Add a new key "color" with the value "blue" to the dictionary. Print the old and new dictionary versions

In [93]:
# Add your code here
car = {'brand': 'Audi',
       'model': 'S1',
       'year': '2025'}
car.update({'color': 'blue'})
car

{'brand': 'Audi', 'model': 'S1', 'year': '2025', 'color': 'blue'}

Create a dictionary called `book` with keys "title", "author", and "year". Use the `get()` method to access the value of "author" and print it

In [94]:
# Add your code here
book = {'title': 'Dance of Dragons',
        'author': 'George R R Martin',
        'year': 2011}

book.get('author')

'George R R Martin'

Create a dictionary called `movie` with keys "title", "director", and "year". Use the `pop()` method to remove the "director" key from the dictionary. Print the dictionary before and after the removal

In [95]:
# Add your code here
movie = {'title':'Wolf of Wall Street',
         'director':'Martin Scorsese',
         'year': 2013}
movie.pop('director')
movie

{'title': 'Wolf of Wall Street', 'year': 2013}

Create a dictionary called `product` with keys "name", "price", and "quantity". Use bracket notation to print the value of "price"

In [96]:
# Add your code here
product = {'name': 'pencil',
           'price': 0.50,
           'quantity': 1000}
product['price']

0.5

Create a dictionary `fruit_prices` with keys "apple", "banana", and "grape". Use bracket notation to change the price of "banana" and print the updated dictionary

In [97]:
# Add your code here
fruit_prices = {"apple": .30, 
                "banana": .25, 
                "grape": .10}
fruit_prices['banana'] = .35
fruit_prices['banana']

0.35

Create a set with 5 different colours. Add one more colour to the set and remove an existing one

In [98]:
# Add your code here
color_set = {'purple', 'cyan', 'pink', 'beige', 'black'}
color_set.add('grey')
color_set.remove('pink')
color_set

{'beige', 'black', 'cyan', 'grey', 'purple'}

Create a set with 6 random numbers. Remove one number from the set and print the updated set

In [99]:
# Add your code here
from random import randint
pos_2 = randint(1,3000)
ran_num = {randint(0,100),pos_2,randint(0,100),randint(0,100),randint(0,100),randint(0,100)}
print(f'''We have the set {ran_num}
We want to remove {pos_2}''')
ran_num.remove(pos_2)
print(f'Leaving us with {ran_num}')

We have the set {34, 81, 563, 21, 87, 58}
We want to remove 563
Leaving us with {34, 81, 21, 87, 58}

Create a set with 5 fruit names. Clear all the elements from the set and print the set after clearing it

In [100]:
# Add your code here
friut_set = {'Durian','Dragonfruit','Papaya','Lycee','Mangosteen'}
friut_set.clear()
friut_set

set()

Create a set with 5 colors. Try to add a duplicate color and print the set to see if the set changes

In [101]:
# Add your code here
colours = {'Middle Blue Purple (#8962AD)', 'Pastel Magenta (#F296BF)', 'Alabaster (#EFECE0)', 'Aero (#73C4E5)', 'Flavescent (#FBED8F)'}
colours.update({'Pastel Magenta (#F296BF)'})
colours

{'Aero (#73C4E5)',
 'Alabaster (#EFECE0)',
 'Flavescent (#FBED8F)',
 'Middle Blue Purple (#8962AD)',
 'Pastel Magenta (#F296BF)'}

Create a tuple with 5 floating-point numbers. Multiply the 3rd number by 2 and print the result

In [102]:
# Add your code here
floating_tuple = (2.7984561, 8.96847561, 5.000001, 6.000005,789.456)
print(f'{floating_tuple[2]} * 2 = {floating_tuple[2] * 2}')

5.000001 * 2 = 10.000002

Create a tuple with 4 different cities. Convert the tuple to a list and append a new city to it

In [103]:
# Add your code here
city_tuple = ('Nice', 'Amsterdam', 'Beirut', 'Sydney')
city_tuple = list(city_tuple)
city_tuple.append('Barcelona')
city_tuple = tuple(city_tuple)
city_tuple

('Nice', 'Amsterdam', 'Beirut', 'Sydney', 'Barcelona')